body {
  background-color: #282c34;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px solid aqua;
  padding: 2vh;
  width: 50vh;
  margin-top: 10vh;
  color: white;

}

#result {
  margin-inline: auto;
  margin-bottom: 3vh;
  text-align: center;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button {
  margin-inline: 0.4vh;
  width: 10vh;
  height: 3vh;
  background-color: #282c34;
  border: 1px solid aqua;
  color: white;
}

.button:hover {
  background-color: aqua;
  color: #282c34;
  cursor: pointer;
}

.button:last-of-type {
  margin-inline: 0.4vh;
  width: 10vh;
  height: 3vh;
  background-color: #282c34;
  border: 1px solid red;
  color: white;
}

.button:hover:last-of-type {
  background-color: red;
  cursor: pointer;
}